@import "./assets/variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: $off-white;
  background: url('http://localhost:3000/assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
a {
  text-decoration: none;
}
