.movieCardContainer {
  display: inline-block;
  height: 25em;
  .movieCard {
    margin: 1em;
    margin-bottom: 5em;
    height: 30vh;
    outline: 1px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .movieInfo {
    width: 20vw;
    padding: .5em;
    padding-bottom: 1.5em;
    color: $off-white;
    @include linear-gradient($transparent, $dark-grey);
  }
  h2, h4 {
    margin: 0;
  }
  .isFavorite {
    box-shadow: $glow;
    .favoriteText {
      text-align: center;
      padding: 1em;
      @include linear-gradient($brand-blue, $light-blue);
    }
  }
  .favoriteText {
    text-align: center;
    padding: 1em;
    @include linear-gradient($highlight, $highlight-dark);
  }
}
